.contact {
    background-color: var(--bg-primary);
    color: #fff;
    padding: 4rem 2rem;
    font-family: 'Winky Sans', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    max-width: 1000px;
    margin: 0 auto;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.contact-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.contact-card {
    background-color: var(--bg-secondary);
    border: 2px solid transparent;
    color: #fff;
    padding: 2rem 1.5rem;
    width: 200px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.contact-card:hover {
    border-color: var(--red);
    transform: translateY(-5px);
    color: var(--red);
}

.contact-card .icon {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color: var(--red);
}

strong {
    color: var(--red);
    font-weight: bold;
}

@media (max-width: 768px) {

    .contact {
        padding: 1rem 2rem;
    }
}