.footer {
    background-color: var(--bg-secondary);
    color: white;
    text-align: center;
    padding: 1rem 0;
}


.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}

.footer-links {
    display: flex;
    gap: 1.2rem;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.2s ease-in-out;
}

.footer-links a:hover {
    color: #00bcd4;
}